.menu_icones_cabecalho {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.logo_imagem {
    width: 500px;
}

.icones_direita,
.icones_esquerda {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.caixa_inicio {
    display: block;

}

.logo_central {
    height: 100px;
}

.icones_direita,
.icones_esquerda {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.icone {
    margin: 0 20% 0 20%;
    height: 45px;

}

.caixa_foto_inicio {
    position: relative;
    width: 100%;
    height: 550px;

}

.caixa_blur_inicio {
    position: absolute;
    background-color: #000000;
    /* filter: blur(5px); */
    opacity: 50%;
    width: 100%;
    height: 100%;
}

.caixa_blur_ver_mais {
    display: flex;
    justify-content: center;
}

.caixa_produtos_ver_mais {
    display: flex;
    width: 400.4px;
    height: 400.4px;
    background: #a0a0a0;
    border-radius: 10px;
    filter: blur(3px);
    padding: 10px;
    margin: 10%;
    padding: 5px;
    justify-content: center;


}

.caixa_secoes_inicio {
    height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.foto_inicio {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.5);

}

.caixa_icones_cabecalho {
    background-color: #FFF;
    height: 150px;
    border-radius: 0 0 10px 10px;
    display: flex;
    align-items: center;
}



.caixa_produtos_detaque {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;


    background: #E9E9E9;
    border-radius: 10px;

}


.produtos_destaque {
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    border-radius: 10px;
    width: 188px;
    height: 267px;
    margin: 5%;
    padding: 5px;
}

.img-produtos_destaque {
    display: flex;
    width: 179.28px;
    height: 197.4px;

    background: #a0a0a0;
    border-radius: 10px;

}

.descricao_produtos_destaque {
    display: grid;
    padding: 10px;
    text-align: center;
    color: #000000;
}

.formatacao {
    display: block;
}

.login_cadastro {
    margin-bottom: 0px;
}


.sidebar {
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    width:400px;
    background-color: #f1f1f1;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -400px;
    transition: left 0.3s ease-in-out;
    z-index: 999;
}

.sidebar.open {
    left: 0;
}

.sidebar a {
    display: block;
    padding: 16px;
    text-decoration: none;
    color: #000;
}

.sidebar a:hover {
    background-color: #555;
    color: white;
}

.page-container {
    position: relative;
}

.page-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 10px;
    z-index: 998;
    display: none;
}

.page-container.blur .page-overlay {
    display: block;
}