/* ============================ CABEÇALHO / MENU SUPERIOR ======================== */

.caixa_icones_cabecalho {
    background-color: #FFF;
    height: 100px;
    border-radius: 0 0 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.icones_direita,
.icones_esquerda {
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    color: #DAA520;
}

.icone {
    margin: 0 10px;
    height: 30px;
    font-size: 30px;
    color: #DAA520;
}

.icone_pag {
    margin: 0 10px;
    height: 30px;
    font-size: 30px;
    color: #797979;
}

.logo_central {
    height: 80px;
}

@media screen and (min-width: 768px) {
    .caixa_icones_cabecalho {
        height: 150px;
    }

    .icone {
        margin: 0 10px;
        height: 30px;
        font-size: 50px;
        color: #DAA520;
    }

    .icone_pag {
        margin: 0 10px;
        height: 30px;
        font-size: 30px;
        color: #797979;
    }

    .logo_central {
        height: 100px;
    }
}


/* ============================ CENTRAL ======================== */
.finalizar_compra {
    display: flex;
    justify-content: end;
    bottom: 0;
    right: 0;
    margin: 20px;
    margin-right: 50px;
}

.campo_finalizar_compra {
    width: 100%;
    max-width: 600px;
    height: 300px;
    background-color: #ffffff;
    padding: 20px;
    box-sizing: border-box;
}

.linha-pequena {
    width: 100%;
    max-width: 565px;
    height: 1px;
    background-color: #b6b6b6;
    margin: 10px 0;
}

.botoes_adicionais {
    margin-top: 10px;
    margin-left: 10px;
}

.botao_adicional {
    font-size: 14px;
}

.calcular_frete {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    max-width: 600px;
    height: auto;
    background-color: #FFF;
    margin: 15px auto;
    padding: 6px;
    box-sizing: border-box;
}

.input_cep {
    width: 100%;
    max-width: 350px;
    height: 50px;
    border-radius: 25px;
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #000000;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: bold;
    margin-left: auto;
    margin-right: 22px;
    padding-left: 18px;
    box-sizing: border-box;
}



.legenda_calcular_frete {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: 24px;
    margin: 10px 22px;
    display: block;
}

.botao_calcula_frete {
    width: 100px;
    height: 50px;
    border-radius: 25px;
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #000000;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: bold;
}

@media screen and (min-width: 768px) {

    .finalizar_compra {
        position: relative;
        margin: 20px 135px;
    }

    .calcular_frete {
        position: relative;
        margin: 20px 0;
    }

    .campo_finalizar_compra {
        width: 600px;
        height: 300px;
    }

    .linha-pequena {
        max-width: 565px;
    }

    .botoes_adicionais {
        margin-top: 18px;
        margin-left: 22px;
    }

    .botao_adicional {
        font-size: 17px;
    }

    .calcular_frete {
        width: 600px;
        height: 220px;
        margin-left: 90px;
        margin-top: 30px;
    }

    .input_cep {
        width: 350px;
        margin: 4px 20px;
    }

    .legenda_calcular_frete {
        font-size: 28px;
    }
}


/*====================== SUBTOTAL/FINALIZAR COMPRA=======================*/
.label_sub_total {
    color: #797979;
    font-style: italic;
    margin: 10px 22px;
    display: flex;
    width: 60%;
}

.label_total {
    color: #000000;
    font-style: italic;
    margin: 10px 22px;
    display: flex;
    width: 60%;
}

.sub_total {
    font-size: 35px;
    display: flex;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#preco_total {
    font-size: 30px;
    font-style: italic;
}

.botao_finaliza_compra {
    width: 300px;
    height: 70px;
    border-radius: 35px;
    background-color: #009053;
    color: #ffffff;
    border: 0px solid #000000;
    cursor: pointer;
    font-size: 30px;
    font-family: 'Poppins',
        sans-serif;
    font-style: italic;
    font-weight: bold;
    margin-top: 30px;
}

.campo_botao_finaliza_compra {
    display: flex;
    justify-content: center;
}

/*=======================================================================*/

.campos_carrinho {
    display: flex;
}



.pagamentos {
    display: flex;
    justify-content: center;
}

.escrita {
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.formas_de_pagamento {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    align-items: center;

}




.carrinho {
    height: 1000px;
    background-color: #f7f7f7;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.escrita_carrinho {
    display: flex;
    margin-left: 90px;
    font-size: 40px;
    padding-top: 90px;
}


.referencial {
    width: 1200px;
    display: flex;
    margin-left: 90px;
    font-size: 30px;
    padding-top: 90px;
}

.legenda_produto {
    width: 458px;
}

.legenda_tamanho {
    width: 160px;
}

.legenda_quantidade {
    width: 230px;
}

.legenda_total {
    width: 160px;
    justify-content: end;
}

.produto {
    display: flex;
    width: 1000px;
    height: 220px;
    background-color: #FFF;
    margin-left: 90px;
    margin-top: 30px;

}

.foto_produto img {
    height: 190px;
    width: 190px;
    margin: 15px;

}

.descricao_produto {
    display: block;
    width: 220px;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    color: #000;

}

.nome_produto {
    margin: 15px;
    font-size: 25px;
    font-weight: bold;
}

.valor_produto {
    margin: 15px;
    font-size: 20px;
    color: #6d6d6d;
}

.tamanho_produto {
    display: block;
    width: 220px;
    font-family: 'Poppins', sans-serif;
    font-style: italic;


}

.botao-circular span {
    font-size: 18px;
    display: inline-block;
    margin-right: 5px;
}

.dropdown {
    align-items: center;
    display: flex;
    margin-left: 25px;
    font-weight: bold;
    width: 150px;

}

.botao_tamanho {
    width: 100px;
    height: 50px;
    border-radius: 25px;
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #000000;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: bold;
}

.botao_tamanho span {
    margin-right: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 70px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #000000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f2f2f2;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/*================= BOTAO DE QUANTIDADE=================*/
.quantity-control {
    display: flex;
    align-items: center;
}

.botao_quantidade {
    width: 100px;
    height: 50px;
    border-radius: 25px;
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #000000;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: bold;
    margin: 0 10px;
}

.quantity {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: bold;
}



/*======================= TOTAL PRODUTOS ==========================*/

.quantity-control {
    display: flex;

}

.botao-retangular {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #000000;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: bold;
    margin: 0 10px;
}

.quantity {
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: bold;
}

.price {
    width: 147px;
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: bold;
    margin-top: 10px;
}

#total-price {
    font-weight: bold;

}




/* ============================ RODAPÉ ======================== */


.rodape {
    background-color: #DAA520;
    padding: 100px;
    height: 200px;
    display: flex;
    justify-content: space-between;
}

.rodape .esquerda {
    text-align: left;
    color: white;
    margin-top: 0px;
    font-size: 25px;
}

.rodape .centro {
    text-align: center;
    color: white;
    margin-bottom: 10px;
    font-size: 25px;
}

.rodape .direita {
    text-align: right;
    color: white;
    margin-bottom: 10px;
    font-size: 25px;
}

.rodape .direita a {
    color: white;
    text-decoration: none;

}


/* ============================ MENU LATERAL ======================== */


.sidebar {
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
    background-color: #f1f1f1;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -400px;
    transition: left 0.3s ease-in-out;
    z-index: 999;
}

.sidebar.open {
    left: 0;
}

.sidebar a {
    display: block;
    padding: 16px;
    text-decoration: none;
    color: #000;
}

.sidebar a:hover {
    background-color: #555;
    color: white;
}

.page-container {
    position: relative;
}

.page-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 10px;
    z-index: 998;
    display: none;
}

.page-container.blur .page-overlay {
    display: block;
}