/* Estilos para a div de separação (flex container) */
.separacao {
    display: flex;
}

/* Estilos para o lado esquerdo (imagem) */
.produto_esquerda {
    flex: 1;
    /* Ocupa 1 parte do espaço disponível */
    padding: 20px;
    text-align: left;
}

.produto_esquerda img {
    max-width: 100%;
    height: 95%;
    padding-left: 75px;
}

/* Estilos para o lado direito (informações) */
.informacoes_direita {
    flex: 1;
    /* Ocupa 1 parte do espaço disponível */
    padding: 10px;
    padding-left: 70px;
    text-align: left;
}

/* Estilos para o texto de descrição */
.descricao {
    color: #000;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;

}

.preco {
    color: #000;
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    margin: 0;
}

.preco2 {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    padding-top: -20px;
    margin: 0;

}

.botao-amarelo {
    width: 50px;
    /* Largura igual à altura para torná-lo circular */
    height: 50px;
    /* Ajuste conforme necessário */
    border-radius: 50%;
    /* Bordas arredondadas criam a forma circular */
    background-color: #DAA520;
    /* Cor de fundo do botão */
    color: #fff;
    /* Cor do texto */
    border: none;
    /* Remova a borda */
    cursor: pointer;
    /* Altera o cursor para indicar interatividade */
    margin-top: 25px;
    margin-right: 15px;
}

.botao-preto {
    width: 50px;
    /* Largura igual à altura para torná-lo circular */
    height: 50px;
    /* Ajuste conforme necessário */
    border-radius: 50%;
    /* Bordas arredondadas criam a forma circular */
    background-color: #000000;
    /* Cor de fundo do botão */
    color: #fff;
    /* Cor do texto */
    border: none;
    /* Remova a borda */
    cursor: pointer;
    /* Altera o cursor para indicar interatividade */
}

.botao-circular {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ffffff;
    /* Cor do interior (branco) */
    color: #000000;
    /* Cor do texto (preto) */
    border: 2px solid #000000;
    /* Borda preta de 2px */
    cursor: pointer;
    font-size: 20px;
    margin-right: 15px;
    margin-top: 25px;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
}

.botao-comprar {
    padding: 10px 20px;
    border-radius: 200px;
    /* Bordas mais arredondadas */
    background-color: #DAA520;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    width: 800px;
    height: 70px;
    margin-top: 40px;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-size: 45px;
}

.botao-carrinho {
    padding: 10px 20px;
    border-radius: 200px;
    /* Bordas mais arredondadas */
    background-color: #ffffff;
    color: #000;
    /* Cor do texto preto */
    border: 2px solid #000;
    /* Borda preta de 2px */
    cursor: pointer;
    width: 800px;
    height: 70px;
    margin-top: 40px;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-size: 45px;
}



@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.ttf') format('woff2');
    /* url('') format('woff'); */
    font-weight: normal;
    font-style: normal;
}

hr {
    border: 0;
    border-top: 1px solid #000000;
}